@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #203a43, #0f2027);
  background: linear-gradient(
    to top,

    #084d64,
    #343357
  );
}
